// color
$color-white: #fff;
$color-black: #000;
$color-gray-bg: #d7dbe2;

$color-gray-01: #f9fafc;
$color-gray-05: #f2f4f6; // bg-secondary
$color-gray-1: #e6e9ee; // border-primary
$color-gray-2: #d7dbe2; // border-secondary
$color-gray-3: #c0c7d2; // disabled
$color-gray-4: #9ea6b4;
$color-gray-5: #7f8a9b; // discription-secondary
$color-gray-6: #687486;
$color-gray-7: #515c6d;
$color-gray-8: #354153; // discription-primary
$color-gray-9: #232e40;
$color-gray-10: #121d2e; // text-primary

$color-emerald-dark: #25b782;
$color-emerald-light: #32cc91;
$color-emerald-white: #ebf4ef;
$color-mint-dark: #006f7a;
$color-mint-light: #008c97;
$color-mint-white: #e4f3f5;
$color-orange: #ff9900;
$color-green: #32cc91;
$color-pink: #ff395d;

$loading-z-index: 10;

$map-z-index: 4;
$top-z-index: 3;
$middle-z-index: 2;
$under-z-index: -1;

$header-padding-top: 11px;
